@import "tailwindcss";
@import "@nuxt/ui";

/* @source not "../../../.nuxt/ui/**"; */

@theme {
  --font-sans: system-ui, sans-serif;
  --font-sans-cn: system-ui, sans-serif;
}
:root {
  --ui-primary: #d46165;
  --ui-secondary: #987f80;
}

/* Force mobile-like layout */
body {
  max-width: 428px; /* iPhone 14 Pro width */
  margin: 0 auto;
}
